# ST IT Cloud - Data and Analytics Test LV.4

Esse teste deve avaliar alguns conceitos de big data e a qualidade técnica na manipulacão de dados, otimização de performance, trabalho com arquivos grandes e tratamento de qualidade.

## Passo a passo

- *Parte teórica:* responda as questões abaixo preenchendo as células em branco.
- *Parte prática:* disponibilizamos aqui 2 cases para, leia os enunciados dos problemas, desenvolver os programas, utilizando a **stack definida durante o processo seletivo**, para entregar os dados de acordo com os requisitos descritos abaixo.



**Faz parte dos critérios de avaliacão a pontualidade da entrega. Implemente até onde for possível dentro do prazo acordado.**

**Os dados de pessoas foram gerados de forma aleatória, utilizando a biblioteca FakerJS, FakerJS-BR e Faker**

LEMBRE-SE: A entrega deve conter TODOS os passos para o avaliador executar o programa (keep it simple).

**Questão 1** - Descreva de forma detalhada quais são as etapas na construção de um pipeline de dados, sem considerar ferramentas específicas, imagine que é seu primeiro contato com o cliente e você precisa entender a demanda dele e explicar quais são os passos que você terá que implementar para entregar a demanda.

In [1]:
1- Entendimento da necessidade do cliente
2- Verificar qual sera o formato de fonte com os dados vindo do cliente
3- Desenhar a melhor arquitetura para a requisicao dos dados, escolher melhor metodo para fazer a ingestao dos dados
4- criar um pipeline de preparation de dados 
5- separar os dados em camadas
6- disponibilizar os dados conforme as regras para analises futuras

SyntaxError: invalid syntax (Temp/ipykernel_16624/523853122.py, line 1)

**Questão 2** - Defina com suas palavras um processamento em streaming e processamento em batch. Qual sua experiência com cada uma delas.

In [ ]:
1- processamento em batch quando falamos de volumes grandes de dados, ou onde as fontes de dados vem de sistemas legados e é neceessário que seja armazenado para ser processado. 
2- para um processamento de volumes mais rapido e para disponibilizar analises em movimento, "nearrealtime"

**Questão 3** - Quais são as camadas de um Data Lake?

In [ ]:
1- staging
2- raw 
3- work ou common 
4- curated ou businness view

**Questão 4** - Quais as diferenças de um Data Lake e um DW?

In [ ]:
DW - tem uma organizacao de dados por assunto, geralmente seguindo algum tipo de metodologia starschema ou snowflake. Sao criados pequenos armazens de dados.
Data Lake - Lugar onde sao armazenados os dados em seu formato bruto para que depois sejam separados em camadas e aplicado regras de negocio conforme a necessidade do cliente.

**Questão 5** - O que é arquitetura Lambda e Kappa? Descreva com suas palavras.

In [ ]:
Nao tenho conhecimento

**Questão 6** - O que é Data Quality para você e como você implementa isso nos seus processos?

In [ ]:
Qualidades dos dados é garantir que a informacao que estamos recebendo esteja coerente e com acuracia para a melhor tomada de decisao

- temos uma area de QA que faz a validacao de dados
- peer review de pepiline da dados

**Questão 7** - Em uma escala de 0 a 10, qual seria seu nível de experiência com PySpark?

In [ ]:
7

**Questão 8** - Em uma escala de 0 a 10, qual seria seu nível de experiência com SQL?

In [ ]:
8

**Questão 9** - Descreva suas expeciências com banco de dados SQL e NoSQL.

In [ ]:
Ja trabalhei com bancos ORACLE, SQL SERVER , MySQL e PostGreSQL.
Em NoSQL trabalhei com bancu HUE e Hive.

**Questão 10** - Tem experiência com versionamento de código? Com quais ferramentas já trabalhou? Descreva.

In [ ]:
Sim, uso o GitHub

**Questão 11** - Tem experiência em desenvolvimento em cloud? Se sim, especifique a(s) plataforma(s) que já trabalhou e suas principais implementações e conhecimentos em cada serviço.

In [ ]:
Sim, ja trabalhei com Azure (Databricks) e AWS

AWS
-EC2 criar instance
-S3 Buckets 
-CloudFormation  
-Glue  catalogo de dados
-IAM  grupo de seguranca
-CloudWatch
- Athena 

Azure

- AzureDatabricks 
-AzureSQL
- AzureDevops

**Questão 12** - Tem experiência com metodologia ágil? Qual?

In [ ]:
Sim Scrum

# TESTE PRÁTICO

**Problema 1**: Você está recebendo o arquivo 'dados_cadastrais_fake.csv' que contem dados cadastrais de clientes, mas para que análises ou relatórios sejam feitos é necessário limpar e normalizar os dados. Além disso, existe uma coluna com o número de cpf e outra com cnpj, você precisará padronizar deixando apenas dígitos em formato string (sem caracteres especiais), implementar uma forma de verificar se tais documentos são válidos sendo que a informação deve se adicionada ao dataframe em outras duas novas colunas.

Após a normalização, gere reports que respondam as seguintes perguntas:
- Quantos clientes temos nessa base?
- Qual a média de idade dos clientes?
- Quantos clientes nessa base pertencem a cada estado?
- Quantos CPFs válidos e inválidos foram encontrados?
- Quantos CNPJs válidos e inválidos foram encontrados?

Ao final gere um arquivo no formato csv e um outro arquivo no formato parquet chamado (problema1_normalizado), eles serão destinados para pessoas distintas.

*EXTRA:* executar as mesmas validações no *1E8.csv.gz

In [11]:
import pandas as  pd 
df = pd.read_csv(r"C:\Users\fpurc\OneDrive\Documentos\Python Scripts\Git\talent-data-analyst-lv4\dados_cadastrais_fake.csv",sep=";")
df

,nomes,idade,cidade,estado,cpf,cnpj
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526
1,Leah Becker,42,ÁGUA BRANCA,AL,425.263.807-07,25.673.336/2350-20
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989
3,Colleen Duncan,21,SERRA DO NAVIO,AP,252.531.560-03,19.062.080/5100-98
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384
...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,744.822.622-34,16.740.076/9329-75
9996,Lisa Parrish Jr.,73,Brasília,DF,10683395190,32246978843482
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,538.223.638-04,86.601.303/7580-88
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648
9999,Mr. Joseph Wilson MD,50,AÇAILÂNDIA,MA,192.134.492-08,08.908.871/5161-91

In [12]:
df["cpf"]=df["cpf"].str.replace(".","", regex =True ).replace("-","", regex =True  ).replace("/","", regex =True )
df["cnpj"]=df["cnpj"].str.replace(".","", regex =True ).replace("-","", regex =True  ).replace("/","", regex =True )
df

,nomes,idade,cidade,estado,cpf,cnpj
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526
1,Leah Becker,42,ÁGUA BRANCA,AL,42526380707,25673336235020
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989
3,Colleen Duncan,21,SERRA DO NAVIO,AP,25253156003,19062080510098
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384
...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,74482262234,16740076932975
9996,Lisa Parrish Jr.,73,Brasília,DF,10683395190,32246978843482
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,53822363804,86601303758088
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648
9999,Mr. Joseph Wilson MD,50,AÇAILÂNDIA,MA,19213449208,08908871516191

In [13]:
quantidade_clientes = df[['cpf']]
quantidade_clientes.count()

cpf    10000
dtype: int64

In [16]:
media_idade = df[['idade']]
media_idade.mean()

idade    53.7831
dtype: float64

**Problema 2**: Você deverá implementar um programa, para ler, tratar e particionar os dados.

O arquivo fonte está disponível em `https://st-it-cloud-public.s3.amazonaws.com/people-v2_1E6.csv.gz`

### Data Quality

- Higienizar e homogenizar o formato da coluna `document`
- Detectar através da coluna `document` se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação
- Higienizar e homogenizar o formato da coluna `birthDate`
- Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas? 
- Corrigir os dados com as colunas trocadas
- Além desses pontos, existem outras tratamentos para homogenizar esse dataset. Aplique todos que conseguir.

### Agregação dos dados

- Quais são as 5 PF que mais gastaram (`totalSpent`)? 
- Qual é o valor de gasto médio por estado (`state`)?
- Qual é o valor de gasto médio por `jobArea`?
- Qual é a PF que gastou menos (`totalSpent`)?
- Quantos nomes e documentos repetidos existem nesse dataset?
- Quantas linhas existem nesse dataset?

### Particionamento de dados tratados com as regras descritas em `DATA QUALITY`

- Particionar em arquivos PARQUET por estado (`state`)
- Particionar em arquivos CSV por ano/mes/dia de nascimento (`birthDate`)

In [ ]:
from pyspark.ml.functions import vector_to_array
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import urllib 
import datetime

urllib.request.urlretrieve("https://st-it-cloud-public.s3.amazonaws.com/people-v2_1E6.csv.gz","/tmp/teste.csv.gz")
%sh
unzip /tmp/teste.csv.gz
tail -n +2 teste.csv > temp.csv
rm teste.csv

df = spark.read.format("csv").option("inferSchema", "true").option("header","true").load("dbfs:/tmp/teste.csv")
display(df)

df.groupBy("state").agg({"totalSpent":"avg"}).show()
df.groupBy("jobArea").agg({"totalSpent":"avg"}).show()

df.withColumn('PF', f.sum('totalSpent')).sort('totalSpent').show()


df.write.mode("overwrite").partitionBy("state").saveAsTable('teste', format='parquet')

df.write.mode("overwrite").partitionBy(year ("birthDate"),month ("birthDate"),day("birthDate")).saveAsTable('teste', format='csv')